@import "tailwindcss";

.ge-primary-color {
  color: #192428;
}

.ge-white-color {
  color: #F4F7FB;
}

.ge-accent-color {
  color: #EA7F21;
}

.ge-primary-bg-color {
  background-color: #192428;
}

.ge-white-bg-color {
  background-color: #F4F7FB;
}

.ge-accent-bg-color {
  background-color: #EA7F21;
}

.ge-border-focus {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.ge-border-focus:focus {
  border-color: #EA7F21;
  outline: none;
}

.ge-accent-hover:hover {
  transition-duration: 0.2s;
  background-color: #EA7F21;
}